//
// Legacy Default Competition
//
// !!! IMPORTANT NOTE !!!
// Ensure all values are surrounded by quotes, the parser can't properly deal with negative values otherwise.

configname "^1Legacy ^*Competition"

init
{
	setl g_altStopwatchMode "0"
	setl g_complaintlimit "0"
	setl g_ipcomplaintlimit "0"
	setl g_doWarmup "1"
	setl g_inactivity "0"
	setl g_maxlives "0"
	setl g_teamforcebalance "0"
	setl g_lms_teamForceBalance "0"
	setl g_voicechatsallowed "5"
	setl g_warmup "15"
	setl match_latejoin "0"
	setl match_timeoutcount "1"
	setl match_warmupDamage "1"
	setl team_maxplayers "10"
	setl team_nocontrols "0"
	setl sv_allowDownload "1"
	setl sv_floodProtect "0"
	setl sv_fps "20"
	setl vote_limit "10"

	setl team_maxAirstrikes "0.0"
	setl team_maxArtillery "0.0"

	setl team_riflegrenades "1"

	setl g_pronedelay "1"
	setl g_shove "60"

	setl g_antiwarp "1"
	setl g_fixedphysics "1"
	setl g_fixedphysicsfps "125"

	//command "sv_cvarempty"
	command "sv_cvar rate EQ 25000"
	command "sv_cvar cl_maxpackets EQ 125"
	command "sv_cvar snaps EQ 20"
	command "sv_cvar com_maxfps IN 40 125"
}
