#version		"1.0 08/01/12 by ETLegacy.com"
{
	english		"WARMUP"
	french		"ATTENTE"
	german		"AUFWÄRMPHASE"
	italian		"RISCALDAMENTO"
	spanish		"CALENTAMIENTO"
}
{
	english		"(WARMUP) Match begins in:"
	french		"(ATTENTE) la partie commence dans :"
	german		"(AUFWÄRMPHASE) Spielbeginn in:"
	italian		"(RISCALDAMENTO) La partita inizia fra:"
	spanish		"(CALENTAMIENTO) El combate empieza en:"
}
{
	english		"- Press %s to open Limbo Menu"
	french		"- Appuyez sur %s pour afficher le Menu Limbes"
	german		"- %s öffnet das Limbomenü"
	italian		"- Premi %s per aprire il menu Limbo"
	spanish		"- Pulsa %s para abrir el menú Limbo"
}
{
	english		"- Press %s to follow next player"
	french		"- Appuyez sur %s pour suivre le joueur suivant."
	german		"- %s zum Folgen des nächsten Spielers"
	italian		"- Premi %s per seguire il giocatore successivo."
	spanish		"- Pulsa %s para seguir al siguiente jugador"
}
{
	english		"Connection Interrupted"
	french		"Connexion interrompue"
	german		"Verbindung unterbrochen"
	italian		"Connessione interrotta"
	spanish		"Conexión interrumpida"
}
{
	english		"Mission time:"
	french		"Durée mission :"
	german		"Missionszeit:"
	italian		"Tempo missione:"
	spanish		"Tiempo de misión:"
}
{
	english		"Class"
	french		"Spéc."
	german		"Klasse"
	italian		"Classe"
	spanish		"Tipo."
}
