<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.etlegacy.app"
    android:versionCode="1"
    android:versionName="1.0">

    <instrumentation android:targetPackage="org.etlegacy.app"
        android:name="android.support.test.runner.AndroidJUnitRunner"/>

</manifest>

