[project]
authors = ["ET:Legacy Team"]
channels = [
    "conda-forge",
]
name = "etlegacy"
version = "0.0.0"

platforms = ["linux-64", "osx-64", "win-64"]

[tasks]
"collect-and-check-gh-build-logs" = { cmd = ["python", "./misc/collect-and-check-gh-build-logs.py"] }

[dependencies]
"git" = "2.49.0.*"
"python" = "3.13.3.*"
"requests" = "2.32.4.*"


[feature.libclang.tasks]
regenerate-luals-definitions = { cmd = ["python", "./misc/regenerate-luals-definitions.py", "./src/game/g_lua.c"]}
[feature.libclang.dependencies]
"python-clang" = "20.1.5.*"

[feature.validation.tasks]
autoformat = { cmd = ["python", "./misc/autoformat.py"] }
check-changes = { cmd = ["python", "./misc/check-changes.py"] }
[feature.validation.dependencies]
"actionlint" = "1.7.7.*"
"black"      = "25.1.0.*"
"go-shfmt"   = "3.12.0.*"
"prettier"   = "3.5.3.*"
"shellcheck" = "0.10.0.*"
"uncrustify" = "0.78.1.*"

[environments]
libclang = ["libclang"]
validation = ["validation"]
