<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >
    <!-- OpenGL ES 1.1 -->
    <uses-feature android:glEsVersion="0x00010001" />
    <!-- Touchscreen support -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
	<!-- Game controller support -->
	<uses-feature
		android:name="android.hardware.bluetooth"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.gamepad"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.usb.host"
		android:required="false" />
	<!-- External mouse input events -->
	<uses-feature
		android:name="android.hardware.type.pc"
		android:required="false" />
    <!-- Allow access to internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Allow writing to external storage and reading from it -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
    <!-- Allow access to bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
		android:requestLegacyExternalStorage="true"
		android:hardwareAccelerated="true"
		android:usesCleartextTraffic="true"
		android:appCategory="game"
		android:isGame="true"
        android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat.NoActionBar" >
		<activity
            android:name=".ETLMain"
			android:exported="true"
			android:screenOrientation="landscape" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<!-- Let Android know that we can handle some USB devices and should receive this event -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>
        <!--Do not pass accelerometer data to the app internals-->
        <meta-data android:name="SDL_ENV.SDL_ACCELEROMETER_AS_JOYSTICK" android:value="0"/>
        <activity
            android:name=".ETLActivity"
			android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:largeHeap="true"
			android:alwaysRetainTaskState="true"
			android:launchMode="singleInstance"
			android:screenOrientation="sensorLandscape" >
        </activity>
    </application>

</manifest>
